<h3> Welcome back to Renecades, Please Login to Play!</h3>
<div class="wrapper">
<%= form_for @user, url: login_path do |f| %>
 <%= f.label :id, "Username:" %><br>
<%= f.collection_select :username, User.all, :username, :username %>
 <br>
 <%= f.label :password, "Password:" %><br>
<%= f.password_field :password %><br><br>
 <%= f.submit "Log In" %>
<% end %>
</div>
