<h2> Welcome Back to Renecades, Please Login to Play!</h2>
<div class="login">
<%= form_for @user, url: login_path do |f| %>
 <%= f.label :id, "Username:" %><br>
<%= f.collection_select :username, User.all, :username, :username, {}, {class: "username-select"} %>
 <br>
 <br>
 <%= f.label :password, "Password:" %><br>
<%= f.password_field :password, class: "password-box" %><br><br>
 <%= f.submit "Log In", class: 'form-text-box' %>
<% end %>
</div>

<div class="home-links">
  <%= link_to('Login with Facebook', '/auth/facebook') if !logged_in? %><br>
</div>
