<h1>Login</h1>
<div class="login">
<%= form_for @user, url: login_path do |f| %>
 <%= f.label :id, "Username" %><br>
<%= f.collection_select :username, User.all, :username, :username, {}, {class: "username-select"} %>
 <br>
 <br>
 <%= f.label :password, "Password" %><br>
<%= f.password_field :password, class: "password-box" %><br><br>
 <%= f.submit "Log In", class: 'form-text-box' %>
<% end %>
</div>

<div class="home-links">
    <% if !logged_in? %>
      <%= link_to ('/auth/facebook') do %>
      <i class="fa fa-facebook" id="fb"></i> Login with Facebook
      <% end %>
    <% end %>
</div>
