<h1><%= @user.username %>'s Profile</h1>
<h3>Bio: <%= @user.bio %><br>
Favorite Game: <%= @user.favorite_game %><br>
Reward Points: <%= @user.reward_points %></h3>

<h3>Player Rank:</h2>

<div class="rank">
<%= @user.rank %>
</div>

<h2>Renecades Players:</h2>
<% @users.each do |user| %>
<h3><%= user.id %>. <%= user.username %></h3>
<% end %>
