<h1><%= @user.username %>'s Profile</h1>
<h3>Bio: <%= @user.bio %><br>
Favorite Game: <%= @user.favorite_game %><br>
Reward Points: <%= @user.reward_points %></h3>

<h3>Player Rank:</h2>
<div class="rank">
<%= @user.rank %>
</div>

<h2>Created Games</h2>
<% @user.created_games.each do |game| %>
  <h3><%= link_to game.name, game_path(game) %></h3>
<% end %>

<h2>Played Games</h2>
<% @user.games.each do |game| %>
  <h3><%= link_to game.name, game_path(game) %></h3>
<% end %>

<h2>Renecades Players:</h2>
<% @users.each do |user| %>
<h3><%= user.id %>. <%= user.username %></h3>
<% end %>
