<h4> Welcome to Renecades <%= @user.username %>!</h4>

<% if flash[:message] %>
   <p><%= flash[:message] %></p>
<% end %>

<h4><%= @user.username %>'s Profile</h4>
Bio: <%= @user.bio %><br>
Favorite Game: <%= @user.favorite_game %><br>
Reward Points: <%= @user.reward_points %>

<h4>My Game Achievements and Rewards</h4>
<%= link_to "View Games", games_path %><br>
<%= link_to "View Achievements", achievements_path %>
<br>
<h4>Renecades Players:</h4>
<% @users.each do |user| %>
<p><%= user.id %>. <%= user.username %></p>
<% end %>
