<h1> All the Games at Renecades </h1>

<p>Renecades hosts a variety of board games, video games, and table games.<br>
Join the fun and start earning rewards for every game that you play.<br>
See what other gamers are playing and climb up the leaderboard!<p>

<% @games.each do |game| %>
<div class="all-games">
    <h3><%= link_to game.name, game_path(game) %></h3>
    <p><%= game.reward_points %> Reward Points</p>
</div>
<% end %>

<%= form_tag "/games", method: "get" do %>
  <%= select_tag 'order_by', options_for_select(["Alphabetical", "Reward Points"]),
  include_blank: true, id: "order_select"%><br><br>
  <%= submit_tag "Order Games" %>
<% end %>

<%= image_tag("renecades.jpg", :class => "style_image")  %>


<% #Loading Games Index with JS" %>
<div>
<% @games.each do |game| %>
  <div id="game-<%= game.id %>"></div><br>
  <button class="js-more" data-id="<%= game.id %>"><%= game.name %></button>
<% end %>
</div>
