<h1> All the Games at Renecades </h1>

<p>Renecades hosts a variety of board games, video games, and table games.<br>
Join the fun and start earning rewards for every game that you play.<br>
See what other gamers are playing and climb up the leaderboard!<p>

  <%= form_tag "/games", id: "search-form", method: "get" do %>
    <input type="text" id="search" placeholder="search description">
    <input type="submit" id="search-submit" value="submit">
  <% end %>

<br>

<div class="games-list">
  <button id="order_select">Order Games</button>
  <button id="change-color">Change Color</button>
  <button id="more-rewards">More Rewards</button>
  <button id="find-categories">Find Categories</button>

<div class="all-games">
<% @games.each do |game| %>
    <h3><%= link_to game.name, game_path(game) %></h3>
    <p><%= game.reward_points %> Reward Points</p>
<% end %>
</div>

<%= form_tag "/games", method: "get" do %>
  <%= select_tag 'order_by', options_for_select(["Alphabetical", "Reward Points"]),
  include_blank: true, class: "order_select"%><br><br>
  <%= submit_tag "Order Games" %>
<% end %>
</div>

<br>

<div class="game-image">
<%= image_tag("renecades.jpg", :class => "style_image")  %>
</div>
