<h2><%= @game.name %></h2>
<%= @game.description %><br>
<%= @game.objective %><br><br>

Created By: <%= @game.creator.username %><br>
Number of Players: <%= @game.number_of_players %><br>
Reward Points: <%= @game.reward_points %><br>
Genre: <%= @game.genre %><br><br>

<% if @current_user %>
<%= form_for @token do |f| %>
  <%= f.hidden_field :game_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit "Play this game" %>
<% end %>
<% end %>

<br>
<br>
<%= link_to "Edit Game", edit_game_path(@game) if @game.creator_id == @current_user.id %>

<br><%= link_to "Write Review", new_game_review_path(@game, @review) %><br>

<h3>Current Players</h3>

<div id="CP"
<% @game.users.each do |user| %>
  <ol>
    <li><%= user.username %>, <%= user.rank %></li>
  </ol>
<% end %>
</div>

<div>
  <a href="#" class="js-nextGame" data-id="<%= @game.id %>">Next Game </a>
</div>
