<h2><%= @game.name %></h2>
<%= @game.description %><br>
<%= @game.objective %><br><br>

Created By: <%= @game.creator.username %><br>
Number of Players: <%= @game.number_of_players %><br>
Reward Points: <%= @game.reward_points %><br>
Genre: <%= @game.genre %><br><br>

<% if @current_user %>
<%= form_for @token do |f| %>
  <%= f.hidden_field :game_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit "Play this game" %>
<% end %>
<% end %>

<br>
<br>
<%= link_to "Edit Game", edit_game_path(@game) if @game.creator_id == @current_user.id %>

<div>
  <a class=".js-nextgame">Next Game </a>
</div>
