<h2><%= @game.name %></h2>
<%= @game.description %><br>
<%= @game.objective %><br><br>

Number of Players: <%= @game.number_of_players %><br>
Reward Points: <%= @game.reward_points %><br>
Genre: <%= @game.genre %><br><br>

<% if logged_in? %>
<%= form_for @token do |f| %>
  <%= f.hidden_field :game_id %>
  <%= f.hidden_field :user_id %>
  <%= f.submit "Play this game" %>
<% end %>

<% elsif !logged_in? %>
<%= link_to "Join Renecades and start playing", new_user_path %>
<% end %>

<br>
<%= link_to "Edit Game", edit_game_path(@game) if logged_in? %>
