<!DOCTYPE html>
<html>
  <head>
    <title>RenecadesGameroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div>
    <% if flash[:message] %>
       <p><%= flash[:message] %></p>
    <% end %>
  </div>

    <header>
      <nav>
        <%= link_to "Home", root_path %>
        <% if !logged_in? %>
          <%= link_to "Login", '/login' %>
        <% elsif logged_in? %>
          <%= link_to "Play Games", games_path %>
          <%= link_to "Create Games", new_game_path %>
          <%= link_to "Search Categories", categories_path %>
          <%= link_to "Leaderboard", users_path %>
          <%= link_to "User Profile", user_path(current_user) %>
          <%= link_to "Logout", '/logout' %>
        <% end %>
        <br><br>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
