<!DOCTYPE html>
<html>
  <head>
    <title>RenecadesGameroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "Home", root_path %><br>
        <%= link_to "View Games", games_path %><br>
        <% if !logged_in? %>
          <%= link_to "Login", '/login' %>
        <% elsif logged_in? %>
          <%= link_to "Profile Page", user_path(current_user) %><br>
          <%= link_to "Logout", '/logout' %>
        <% end %>
        <br>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
